  <!DOCTYPE html>
  <html>
  <head>
      <title>SIN Server</title>
        {% load staticfiles %}
     <link rel="stylesheet" type="text/css" href="{% static 'logreg/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'logreg/css/styles.css' %}">
    <script src="{%static 'siege/js/jquery-3.1.0.min.js'%}"></script>
  </head>
  <body>
    <div id="img-bg"><img id="bg" src="{% static 'logreg/img/sin_alchemy2.png'%}"></div>
    <div class="container">
    {%if user.is_authenticated %}
    <nav class="navbar navbar-default mynav">
        <ul class="nav-ul">
            <li><button class="btn navbar-btn"><a href="/siege">Siege</a></button></li>
            <li><button class="btn navbar-btn"><a href="/siege/armies">My Armies</a></button></li>
            <li><button class="btn navbar-btn"><a href="#">My Towns</a></button></li>
            <li><button class="btn navbar-btn"><a href="/logout">Log Out</a></button></li>
        </ul>
    </nav>
    {% endif %}
    {% block content %}
    {% endblock content %}
    </div>
  </body>
  </html>
