  <!DOCTYPE html>
  <html>
  <head>
    <title>Strategos</title>
      {% load staticfiles %}
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="shortcut icon" type="image/png" href="{% static 'logreg/img/favicon.ico'%}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'logreg/css/bootstrap.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'logreg/css/bootstrap-datetimepicker_utc.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'logreg/css/styles.css' %}">
      <script src="{% static 'siege/js/jquery-3.1.0.min.js'%}"></script>
      <script src="{% static 'siege/js/jquery.validate.js' %}"></script>
      <script src="{% static 'logreg/js/moment.min.js' %}"></script>
      <script src="{% static 'siege/js/ajaxhelper.js' %}"></script>
      <script src="{% static 'logreg/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'logreg/js/bootstrap-datetimepicker_utc.min.js' %}"></script>
      <script src="{% static 'siege/js/datatables.js' %}"></script>
  </head>
  <body>
    <div id="img-bg"><img id="bg" src="{% static 'logreg/img/sin_alchemy2.png'%}"></div>
    <div class="container">
    {%if user.is_authenticated %}
    <nav class="navbar navbar-default mynav">
        <ul class="nav-ul">
            <li><div class="nav-btn"><a href="/siege" class="btn navbar-btn">Siege</a></div></li>
            <li><div class="nav-btn"><a href="/siege/armies" class="btn navbar-btn">My Armies</a></div></li>
            <li><div class="nav-btn"><a href="/siege/cities" class="btn navbar-btn">My Towns</a></div></li>
            <li><div class="nav-btn"><a href="#" class="btn navbar-btn">Alliance Stats</a></div></li>
            <li><div class="nav-btn"><a href="/account" class="btn navbar-btn">My Account</a></div></li>
            <li><div class="nav-btn"><a href="/logout" class="btn navbar-btn">Log Out</a></div></li>
        </ul>
    </nav>
    {% endif %}
    {% block content %}
    {% endblock content %}
    </div>
  <script>$(function(){
      $('[data-toggle="tooltip"]').tooltip({container: 'body'});
  });</script>
  </body>
  </html>
