/*Global*/

label{
    font-size: 0.6em;
}

body{
    background-color: #E8DAC6;
}

a.btn{
    color: ghostwhite;
    font-weight: bold;
}
    a.btn:hover{
        text-decoration: none;
        font-weight: bold;
    }

.tooltip.top .tooltip-inner{
    background-color: #7e7b7c;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #7e7b7c;
}

.nav-btn{
    margin: 4px 2px;
    border-radius: 5%;
    background-color: #f8f8f8;
    display: inline-block;
}
    .nav-btn:hover{
        background-color: gainsboro;
    }

.container{
    width: 90%;
    min-height: 280px;
    margin: 0 auto;
    position: relative;
}

.solid-bg{
    padding: 5px;
    background-color: #fafafa;
}

.errorlist{
    list-style: none;
    margin: 0;
    padding: 0;
}
    .errorlist li{
        font-size: 0.5em;
        color: red;
        margin: 0;
    }

.mynav{
    background-color: rgba(0,0,0,0.5);
}

.nav-ul{
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;
}
    .nav-ul li{
        display: inline;
        margin: 0;
    }
        .nav-ul li a{
            color: black;
        }
        .nav-ul li a:hover{
            color:white;
            text-decoration: none;
        }
.error{
    font-size: 0.5 em;
    color: red;
    margin: 0;
}

.spaced-row{
    margin-bottom: 3px;
}

/*Tables*/
.mytable{
    background-color: rgb(255, 255, 255);
    font-size: 11px;
    font-family: 'Roboto', sans-serif;

}
    .mytable td {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    .mytable tbody tr:nth-child(odd){
        background-color: rgba(225, 225, 225, 0.8);
    }

    .mytable input{
        border: 1px solid rgb(166, 166, 166);
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: white;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 3px;

    }

    .chbox{
        display: inline-block;
        margin-right: 4px;
    }
        .chbox label{
            display: block;
            margin: 0;
        }

        .chbox input{
            margin-top: 0;
        }

.mytable2.table-bordered{
    width: 100%;
    background-color: rgb(250, 250, 250);
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}
    .mytable2 td {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

.mytable.table.mytable-compact td{
    padding: 2px;
}

.mytable.table.mytable-compact button, .mytable.table.mytable-compact a.btn{
    padding: 3px 6px;
    font-size: 9px;
}

.mytable1{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;

}
    .mytable1 td, .mytable1 th{
        padding: 6px;
    }

    .mytable1 tbody tr:nth-child(odd){
        background-color: rgba(225, 225, 225, 0.8);
    }


#assigned td, #unassignedArmies td{
    padding-bottom: 3px;
    line-height: 1.1;
}

#assigned th, #unassignedArmies th{
    vertical-align: top;
}

.dataTables_wrapper div.row:first-of-type{
    font-size: 1.5em;
}
    .dataTables_wrapper div.row:first-of-type select,
    .dataTables_wrapper div.row:first-of-type input {
        height: 20px;
        line-height: 20px;
        padding: 0 0 0 3px;
    }

/*Forms*/
.form-sm div{
    white-space: nowrap;
}

.form-sm label{
    font-size: 0.9em;
}

/*Login page*/
#img-bg{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#bg{
  width: 1000px;
}

#wrapper-center{
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-input{
    border-radius: 15px;
    padding: 10px;
    height: 1.5em;
    width: 60%;
    margin-bottom: 6px;
}

#login-btn{
    width: 40%;
}


/*Siege page*/
#id_target_player, #id_target_city, #id_x_coord, #id_y_coord, #siege-button {
    display: block;
}

.wrapper-left{
    width: 50%;
    padding: 10px;
    font-size: 2em;
}

#dp .input-group-addon .glyphicon {
    top: 8px;
    right: 7px;
}

/*Edit siege page*/
#castle-toggle{
    position: fixed;
    top: 10px;
    right: 7%;
    width: 35px;
    height: 35px;
    z-index: 1;
    background: url('../img/castle-icon.png'), linear-gradient(to bottom, rgba(144, 144, 146, 0.7) 0%, rgba(144, 144, 146, 0.7) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid rgba(144, 144, 146, 0.7);
}
    #castle-toggle:hover{
        background: url('../img/castle-icon.png'), linear-gradient(to bottom, rgba(200, 200, 200, 0.7) 0%, rgba(200, 200, 200, 0.7) 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 3px solid rgba(200, 200, 200, 0.7);
    }

#layout{
    position: fixed;
    top: 5px;
    right: 7%;
    width: 210px;
    height: 180px;
    z-index: 1;
}
    .siege-plan{
        width: 70px;
        height: 60px;
        display: inline-block;
        border: 1px solid saddlebrown;
        background-color: rgba(193,226,179,0.8);
        padding: 2px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        vertical-align: top;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

        .siege-plan p{
            font-size: 10px;
            font-weight: bold;
            margin: 0;
            font-family: "Roboto", sans-serif;
        }

    #DIR{
        background: url('../img/castle-icon.png'), linear-gradient(to bottom, rgba(193,226,179,1) 0%, rgba(193,226,179,1) 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

.form-row{
    padding: 10px;
    margin: 0;
    background-color: rgba(225, 225, 225, 0.8);
}
    .form-cell{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 5px;
    }

        .form-cell label{
            font-size: 0.9em;
        }

        .form-cell input{
            border: 1px solid lightgray;
            border-radius: 5px;
            height: 30px;
        }

    .form-cell.sq {
        margin-left: 5px;
    }

    #edit-siege #dp span.glyphicon{
        top: 2px;
    }

td select{
    width: 90%;
}

td input{
    width: 90%;
}

.input-error{
    border-color: red;
    background-color: #f2dede;
}

.active-green{
    background-color: #7fc08b
}

.green{
    color: #257F29;
}
.green:hover{
    color: #C6C0C6;
}

.orange{
    color: #f98227;
}

.orange:hover{
    color: #C6C0C6;
}

.red{
    color: #ff3d62;
}
.red:hover{
    color: #C6C0C6;
}

/*classes for launch time cells*/
.time-24h-plus{
    background-color: #ddffdd;
}

.time-10h-plus{
    background-color: #f5e79e;
    color: brown;
}

.time-2h{
    background-color: peachpuff;
    color: darkred;
}

.time-30min{
    background-color: lightpink;
    color: darkred;
}

.time-15min{
    background-color: lightpink;
    color: red;
}

.time-now{
    background-color: hotpink;
    color: darkred;
}

.time-2h-late{
    background-color: red;
    color: white;
}

.time-10h-late{
    background-color: #96c6d7;
    color: blue;
}

.time-very-late{
    background-color: #5b80b2;
    color: navy;
}


span.glyphicon{
    margin-right: 10px;
}

span.glyphicon:last-of-type{
    margin-right: 0;
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 568px),
(min-device-width: 320px) and (max-device-width: 568px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
        font-size: 13px;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    .mytable.table-bordered{
        width: 100%;
    }
        .mytable.table-bordered tr{
            border: none;
        }
        .mytable.table-bordered td {
            /* Behave  like a "row" */
            display: inline-block;
            border: none;
            position: relative;
            padding: 4px;
            height: 26px;
        }
            .mytable.table-bordered td p{
                margin: 0;
            }
    .dataTables_wrapper div.row:first-of-type {
        font-size: 1.5em;
    }
}

@media
(max-width: 700px)
{
    .container{
        width: 100%;
        padding-left: 6px;
    }

    .mytable{
        width: 95%;
    }
}
/*armies page*/
#armyForm label, #armyForm input, #armyForm select{
    display: block;
}

#armyForm input, #armyForm select{
    font-size: 0.6em;
}

#armyForm select{
    margin-top: 0;
}

#armyForm div.error{
    font-size: 0.6em;
}

.input-number{
    width: 3em;
}

.input-big-number{
    width: 5em;
}

li.picker-switch a.btn span.glyphicon, div.timepicker span.glyphicon{
    color: #337ab7;
}

/*info cluster*/
.info-cluster-2{
    padding: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    flex-grow: 1;
    background-color: rgba(245, 245, 245, 0.9);
    -webkit-box-shadow: 9px 10px 13px -2px rgba(173,173,173,0.55);
    -moz-box-shadow: 9px 10px 13px -2px rgba(173,173,173,0.55);
    box-shadow: 9px 10px 13px -2px rgba(173,173,173,0.55);
    overflow: hidden;
}

.info-cluster-1{
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.9);
    -webkit-box-shadow: 9px 10px 13px -2px rgba(173,173,173,0.55);
    -moz-box-shadow: 9px 10px 13px -2px rgba(173,173,173,0.55);
    box-shadow: 9px 10px 13px -2px rgba(173,173,173,0.55);
    overflow: hidden;
    margin-bottom: 5px;
}
    .info-cluster-1.w-60{
        width: 60%;
    }
    .info-cluster-1.w-90{
        width: 90%;
    }
    .info-cluster-row {
        vertical-align: top;
        margin-bottom: 5px;
    }

    .info-label{
        font-weight: bold;
        vertical-align: middle;
        width: 35%;
        height: 100%;
    }
    .info-value{
        vertical-align: top;
        font-size: 16px;
        padding-right: 5px;
        width: 65%;
    }

    .info-value div button{
        margin: 0 10px 5px 0;
    }

    .info-value1{
        vertical-align: top;
        font-size: 16px;
        display: inline-block;
    }

    #input-1, #input-2{
        margin-bottom: 5px;
    }

    .info-cluster-container{
        margin: 10px auto;
        padding: 0 10px;
        min-height: 100px;
        width: 100%;
        text-align: left;
    }

    .info-square{
        flex-grow: 1;
        display: inline-block;
        height: 90px;
        min-width: 70px;
        background-color: #c7c7c7;
        margin: 7px 5px 7px 5px;
    }

    .top-label{
        width: 100%;
        padding: 5px;
        background-color: #7fc08b;
        font-weight: bold;
    }

    .mid-content ul{
        text-align: left;
        list-style-type: none;
        padding-left: 10px;
    }

/*Combat stats*/
.Defender{
    color: #337ab7;
}

.Attacker{
    color: #b92c28;
}

.skull-pic{
    background: url("../img/skull_30px.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 19px;
    display: inline-block;
}




