{% extends "sinserver/base.html" %}
{% block content %}
{% load staticfiles %}
    <script src="{% static 'combats/js/combats.js' %}"></script>
    <h1>300's Stats</h1>
    <div class="info-cluster-2">
        <div class="top-label">Troops</div>
            <div class="info-square">
                <div class="top-label">Spears</div>
                <div class="mid-content">
                    <ul>
                        <li>T1: {{ troop_counts.SP_T1 }}</li>
                        <li>T2: {{ troop_counts.SP_T2 }}</li>
                        <li>Total: {{ troop_counts.Spear }}</li>
                    </ul>
                </div>
            </div>
            <div class="info-square">
                <div class="top-label">Bows</div>
                <div class="mid-content">
                    <ul>
                        <li>T1: {{ troop_counts.BOW_T1 }}</li>
                        <li>T2: {{ troop_counts.BOW_T2 }}</li>
                        <li>Total: {{ troop_counts.Bow }}</li>
                    </ul>
                </div>
            </div>
            <div class="info-square">
                <div class="top-label">Infantry</div>
                <div class="mid-content">
                    <ul>
                        <li>T1: {{ troop_counts.INF_T1 }}</li>
                        <li>T2: {{ troop_counts.INF_T2 }}</li>
                        <li>Total: {{ troop_counts.Infs }}</li>
                    </ul>
                </div>
            </div>
            <div class="info-square">
                <div class="top-label">Cavalry</div>
                <div class="mid-content">
                    <ul>
                        <li>T1: {{ troop_counts.CAV_T1 }}</li>
                        <li>T2: {{ troop_counts.CAV_T2 }}</li>
                        <li>Total: {{ troop_counts.Cav }}</li>
                    </ul>
                </div>
            </div>
            <div class="info-square">
                <div class="top-label">Wall Engines</div>
                <div class="mid-content">
                    {{ troop_counts.wall }}
                </div>
            </div>
            <div class="info-square">
                <div class="top-label">Siege Engines</div>
                <div class="mid-content">
                    {{ troop_counts.siege }}
                </div>
            </div>
    </div>
    <div>
        <h4>Biweekly combats</h4>
        <table id="biweekly" class="mytable table-paginated table table-bordered siegetable">
        <thead>
        <th>Date</th>
        <th>Coordinates</th>
        <th>Player</th>
        <th>Role</th>
        <th>Town</th>
        <th>Unit Type</th>
        <th>Total Units</th>
        <th>Casualties</th>
        </thead>
        {% for key, combat in totals.items %}
            {% for player in combat.Participants %}
            <tr>
                <td>{{ combat.Timestamp }}</td>
                <td>{{ combat.X }}; {{ combat.Y }}</td>
                <td class="{{ player.Role }}">{{ player.Player }}</td>
                <td class="{{ player.Role }}">{{ player.Role }}</td>
                <td>{{ player.Town }}</td>
                <td>{{ player.UnitType }}</td>
                <td>{{ player.Quantity }}</td>
                <td>{{ player.Casualties }}</td>
            </tr>
            {% endfor %}
    {% endfor %}
    </table>
    </div>
    <h4>Monthly top 10 combats</h4>
    <table id="topTen" class="mytable1">
        <thead>
            <th>Place</th>
            <th>Date</th>
            <th>Coords</th>
            <th>Details</th>
            <th>Total Casualties</th>
        </thead>
        {% for item in topten %}
        {% for k, combat in item.items %}
        <tr>
            <td>{{ forloop.parentloop.counter }}</td>
            <td>{{ combat.Date }}</td>
            <td>{{ combat.Coords.X }}; {{ combat.Coords.Y }}</td>
        <td class="player">
            {% for player, values in combat.Players.items %}
                    <div style="font-size:13px; font-weight: bold;" class="pl-name {{ values.Role }}" data-toggle="tooltip" data-placement="top" title="{{ values.Role }}">{{ player }} </div>
                {% for unit, v in values.Units.items %}
                    <div class="pl-stats" style="font-size:12px;"><span class="killed">{{ v.Casualties }}</span> / <span class="total">{{ v.Count }}</span> <span>{{ unit }}</span></div>
                    {% endfor %}
            {% endfor %}
        </td>
        <td>{{ combat.Total }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
    <div>
    <a href="/combats/thunderdome" class="btn btn-info">View Thunderdome Stats</a>
    </div>
{% endblock %}