{% extends "sinserver/base.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'siege/js/armies.js' %}"></script>
<h1>{{player}}'s armies</h1>
<table class="mytable table mytable-compact nowrap">
        <thead>
            <th>Player</th>
            <th>City</th>
            <th>Type</th>
            <th>Speed</th>
            <th>Troops</th>
            <th>Cats</th>
            <th>Rams</th>
            <th>Elites</th>
            <th>Type</th>
            <th>Action</th>
        </thead>
        {% for army in armies %}
        <tr id="{{army.id}}">
            <td class="player">{{player}}</td>
            <td class="city" {% for c in cities %}
                {% if c.name == army.city %}
                data={{ c.id }} {% endif %} {% endfor %}>{{army.city}}</td>
            <td class="troop_type">{{army.troop_type}}</td>
            <td class="speed">{{army.speed}}</td>
            <td class="troop_count">{{army.troop_count}}</td>
            <td class="siege_engines">{{army.siege_engines}}</td>
            <td class="wall_engines">{{army.wall_engines}}</td>
            <td class="elite_divs_number">{{army.elite_divs_number}}</td>
            <td class="elite_type">{{army.elite_type}}</td>
            <td>
                <button class="edit btn btn-success">Edit</button>
                <button class="delete btn btn-danger">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="wrapper-left">
    <form id="armyForm" action="{% url 'newarmy' %}" method = 'POST'>{%csrf_token%}
        <input type="hidden" name="player" value={{player_id}}>
        <label class="army-label" for="id_city">City</label><select id="id_city" name="city">
            {% for c in cities %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
        </select>
        <label class="army-label" for="id_troop_type">Troop type</label>
        <select id="id_troop_type" name="troop_type">
            <option value="" selected="selected">---------</option>
            <option value="SP_T1">T1 Spears</option>
            <option value="SP_T2">T2 Spears</option>
            <option value="BOW_T1">T1 Bows</option>
            <option value="BOW_T2">T2 Bows</option>
            <option value="INF_T1">T1 Infantry</option>
            <option value="INF_T2">T2 Infantry</option>
            <option value="CAV_T1">T1 Cavalry</option>
            <option value="CAV_T2">T2 Cavalry</option>
            <option value="MIX_SP">Mixed spears</option>
            <option value="MIX_BOW">Mixed bows</option>
            <option value="MIX_INF">Mixed infantry</option>
            <option value="MIX_CAV">Mixed cav</option>
            <option value="MIX">Kitchen sink</option>
        </select>
        <label class="army-label" for="id_troop_count">Troop count</label>
        <input class="input-big-number" id="id_troop_count" name="troop_count" type="text" value="0">
        <label class="army-label" for="id_speed">Speed</label>
        <input class="input-big-number" id="id_speed" name="speed" type="text" value="0">
        <label class="army-label" for="id_siege_engines">Siege engines</label>
        <input class="input-number" id="id_siege_engines" name="siege_engines" type="text" value="0">
        <label class="army-label" for="id_wall_engines">Wall engines</label>
        <input class="input-number" id="id_wall_engines" name="wall_engines" type="text" value="0">
        <label class="army-label" for="id_elite_type">Elite type</label>
        <select id="id_elite_type" name="elite_type">
            <option value="" selected="selected">---------</option>
            <option value="CAV">Anti-Cavalry</option>
            <option value="INF">Anti-Infantry</option>
            <option value="BOW">Anti-Bow</option>
        </select>
        <label class="army-label" for="id_elite_divs_number">Elite divs number</label>
        <input class="input-number" id="id_elite_divs_number" name="elite_divs_number" type="text" value="0">
    <button id="army-button" button type="submit" class="btn btn-primary">Add Army</button>

    </form>
    </div>
{% endblock %}
