{% extends "sinserver/base.html" %}
{% block content %}
{% load staticfiles %}
    <script src="{% static 'siege/js/datatables.js' %}"></script>
    <script src="{% static 'siege/js/siege.js' %}"></script>
    {% load siege_tags %}
    <h1>Siege Plan</h1>
    <table id="sieges" class="mytable table">
        <thead>
            <tr>
                <th>Player</th>
                <th>City</th>
                <th>X</th>
                <th>Y</th>
                <th>Squares</th>
                <th>Landing time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr>
            <td>{{siege.target_player}}</td>
            <td>{{siege.target_city}}</td>
            <td>{{siege.x_coord}}</td>
            <td>{{siege.y_coord}}</td>
            <td>{%if siege.N%}N {%endif%}<!--
                -->{%if siege.NE%}NE {%endif%}<!--
                -->{%if siege.E%}E {%endif%}<!--
                -->{%if siege.SE%}SE {%endif%}<!--
                -->{%if siege.S%}S {%endif%}<!--
                -->{%if siege.SW%}SW {%endif%}<!--
                -->{%if siege.W%}W {%endif%}<!--
                -->{%if siege.NW%}N{%endif%}<!--
            --></td>
            <td class="landing">{{siege.landing_time}}</td>
            <td>
                <button class="btn">Edit</button>
                <button class="btn">Delete</button>
                <button class="btn">View Schedule</button>
            </td>
        </tr>
    </table>
    <h3>Assign Armies</h3>
    <table id="unassignedArmies" class="mytable table table-paginated table-bordered siegetable">
        <thead>
        <tr>
            <th>Player</th>
            <th>City</th>
            <th>Troop type</th>
            <th>Count</th>
            <th>Speed</th>
            <th>Distance</th>
            <th>ETA, h</th>
            <th>Offset</th>
            <th>Square</th>
            <th>Orders</th>
            <th>Launch Time, UTC</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for army in armies %}
        <tr id="{{army.id}}">
            <td>{{army.player}}</td>
            <td>{{army.city}}</td>
            <td>{{army.troop_type}}</td>
            <td>{{army.troop_count}}</td>
            <td class="speed">
                <p>{{army.speed}}</p>
                <input type='number' class='speedInput' hidden="true">
            </td>
            <td class="dist">{{army.dist}}</td>
            <td class="eta">{{army.time}}</td>
            <td class="offset"><input class="offsetInput" type="text" placeholder="hh:mm:ss/-hh:mm:ss"></td>
            <td>
                <select id="square" name="square">
                    {% for square in squares %}
                    <option value="{{square}}">{{square}}</option>
                    {% endfor %}
                </select>
            </td>
            <td >
                <select id="orders" name="orders">
                {% for order in orders %}
                <option value="{{order}}">{{order}}</option>
                {% endfor %}
            </td>
            <td class="timer">{{army.launch_time}}</td>
            <td style="text-align: justify;"><span id="addSiege-{{army.id}}" class="addsiege glyphicon glyphicon-plus orange" title="Add army"></span>
            <span class="glyphicon glyphicon-ok green saveArmy" title="Save army"></span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Armies in Siege</h3>
    {% siege_armies_partial %}
    {% endblock %}
    
