{% extends "sinserver/base.html" %}
{% block content %}
{% load staticfiles %}
    <script src="{% static 'siege/js/siege.js' %}"></script>
    {% load siege_tags %}
    <h1>Siege Plan</h1>
    <table id="sieges" class="mytable table mytable-compact">
        <thead>
            <tr>
                <th>Player</th>
                <th>City</th>
                <th>X</th>
                <th>Y</th>
                <th>Squares</th>
                <th>Landing time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr>
            <td class="player">{{siege.target_player}}</td>
            <td class="city">{{siege.target_city}}</td>
            <td class="x">{{siege.x_coord}}</td>
            <td class="y">{{siege.y_coord}}</td>
            <td class="squares">{%if siege.N%}N {%endif%}<!--
                -->{%if siege.NE%}NE {%endif%}<!--
                -->{%if siege.E%}E {%endif%}<!--
                -->{%if siege.SE%}SE {%endif%}<!--
                -->{%if siege.S%}S {%endif%}<!--
                -->{%if siege.SW%}SW {%endif%}<!--
                -->{%if siege.W%}W {%endif%}<!--
                -->{%if siege.NW%}NW{%endif%}<!--
            --></td>
            <td class="landing">{{siege.landing_time}}</td>
            <td nowrap>
                <button id="{{ siege.id }}" class="edit btn btn-success">Edit</button>
                <button id="{{ siege.id }}" class="delete btn btn-danger">Delete</button>
                <a class="btn btn-info" href="/siege/{{ siege.id }}/schedule">View Schedule</a>
            </td>
        </tr>
    </table>
    <div class="form-row" hidden="true">
        <form id="edit-siege" action="" method="POST">{% csrf_token %}
            <div class="form-cell"><label>Player</label><input type="text" name="target_player" id="id_target_player"></div>
            <div class="form-cell"><label>Target City</label><input type="text" name="target_city" id="id_target_city"></div>
            <div class="form-cell"><label>X</label><input type="text" name="x_coord" id="id_x_coord"></div>
            <div class="form-cell"><label>Y</label><input type="text" name="y_coord" id="id_y_coord"></div>
            <div class="form-cell"><label style="display: block">Landing Time, UTC</label>
            <div class="input-group date" id="dp" style="display:inline-flex;">
                <input id="id_landing_time" name="landing_time" type="text" style="width:100%"><!--
                --><span class="input-group-addon" style="padding: 6px 18px;"><!--
                --><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-cell sq">
                <div class="chbox"><label for="id_N">N</label><input id="id_N" name="N" type="checkbox"></div>
                <div class="chbox"><label for="id_NE">NE</label><input id="id_NE" name="NE" type="checkbox"></div>
                <div class="chbox"><label for="id_E">E</label><input id="id_E" name="E" type="checkbox"></div>
                <div class="chbox"><label for="id_SE">SE</label><input id="id_SE" name="SE" type="checkbox"></div>
                <div class="chbox"><label for="id_S">S</label><input id="id_S" name="S" type="checkbox"></div>
                <div class="chbox"><label for="id_SW">SW</label><input id="id_SW" name="SW" type="checkbox"></div>
                <div class="chbox"><label for="id_W">W</label><input id="id_W" name="W" type="checkbox"></div>
                <div class="chbox"><label for="id_NW">NW</label><input id="id_NW" name="NW" type="checkbox"></div>
            </div>
        <script type="text/javascript">
            $(function(){
                $('#dp').datetimepicker({useUtc: true, format: "MM-DD-YYYY HH:mm:ss"});
            });
        </script>
            <button id="siege-button" type="submit" class="btn btn-primary">Save Siege</button>
        </form>
    </div>
    <div id="castle-toggle"></div>
    <div id="layout" hidden="true">
        <div class="siege-plan" id="NW"></div><!--
        --><div class="siege-plan" id="N"></div><!--
        --><div class="siege-plan" id="NE"></div><!--
        --><div class="siege-plan" id="W"></div><!--
        --><div class="siege-plan" id="DIR"></div><!--
        --><div class="siege-plan" id="E"></div><!--
        --><div class="siege-plan" id="SW"></div><!--
        --><div class="siege-plan" id="S"></div><!--
        --><div class="siege-plan" id="SE"></div>
    </div>
    <h3>Assign Armies</h3>
    <table id="unassignedArmies" class="mytable table table-paginated table-bordered siegetable">
        <thead>
        <tr>
            <th>Player</th>
            <th>City</th>
            <th>Troop type</th>
            <th>Count</th>
            <th>Engines</th>
            <th>Speed</th>
            <th>Distance</th>
            <th>ETA, h</th>
            <th>Offset</th>
            <th>Square</th>
            <th>Orders</th>
            <th>Launch Time, UTC</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for army in armies %}
        <tr id="{{army.id}}">
            <td>{{army.player}}</td>
            <td>{{army.city}}</td>
            <td nowrap>{{army.troop_type}}</td>
            <td>{{army.troop_count}}</td>
            <td nowrap>{{army.engines}}</td>
            <td class="speed">
                <p>{{army.speed}}</p>
                <input type='text' class='speedInput' hidden="true">
            </td>
            <td class="dist">{{army.dist}}</td>
            <td class="eta">{{army.time}}</td>
            <td class="offset"><input class="offsetInput" type="text" placeholder="hh:mm:ss/-hh:mm:ss"></td>
            <td>
                <select id="square" name="square">
                    {% for square in squares %}
                    <option value="{{square}}">{{square}}</option>
                    {% endfor %}
                </select>
            </td>
            <td >
                <select id="orders" name="orders">
                {% for order in orders %}
                <option value="{{order}}">{{order}}</option>
                {% endfor %}
            </td>
            <td class="timer" data-toggle="tooltip" data-placement="top">{{army.launch_time}}</td>
            <td nowrap style="text-align: justify;"><span id="addSiege-{{army.id}}" class="addsiege glyphicon glyphicon-plus orange"></span>
            <span class="glyphicon glyphicon-ok green saveArmy"></span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Armies in Siege</h3>
    <div id="assigned-partial">
    {% siege_armies_partial %}
    </div>
    {% endblock %}
    
