{% extends "sinserver/base.html" %}
{% block content %}
    {% load staticfiles %}
    <script src="{% static 'siege/js/manage.js' %}"></script>
    <h1>Siege dashboard</h1>
    <h3>Current Sieges</h3>
    <table class="mytable table sieges">
        <thead>
            <tr>
                <th>Player</th>
                <th>City</th>
                <th>Squares</th>
                <th>Landing Time</th>
                <th>Actions</th>
            </tr>
        </thead>
            {% for siege in sieges %}
                <tr>
                    <td>{{ siege.target_player }}</td>
                    <td>{{ siege.target_city }}</td>
                    <td>{% if siege.N %}N {%endif%}<!--
                    -->{% if siege.NE %}NE {%endif%}<!--
                    -->{% if siege.E %}E {%endif%}<!--
                    -->{% if siege.SE %}SE {%endif%}<!--
                    -->{% if siege.S %}S {%endif%}<!--
                    -->{% if siege.SW %}SW {%endif%}<!--
                    -->{% if siege.W %}W {%endif%}<!--
                    -->{% if siege.NW %}N {%endif%}</td>
                    <td>{{ siege.landing_time }}</td>
                    <td>
                        <button id="{{ siege.id }}" class="edit btn btn-success">Edit</button>
                        <button id="{{ siege.id }}" class="delete btn btn-danger">Delete</button>
                        <a class="btn btn-info" href="/siege/{{ siege.id }}/schedule">View Schedule</a>
                    </td>
                </tr>
            {% endfor %}
    </table>

    <div class="wrapper-left">
    <h3>New Siege</h3>
    <form id="siegeForm" action="{% url 'new' %}" method='POST'>{% csrf_token %}
        <label for="id_target_player">Target player</label><!--
        --><input id="id_target_player" maxlength="100" name="target_player" type="text">
        <label for="id_target_city">Target city</label><!--
        --><input id="id_target_city" maxlength="100" name="target_city" type="text">
        <label for="id_x_coord">X coord</label><!--
        --><input id="id_x_coord" name="x_coord" type="text">
        <label for="id_y_coord">Y coord</label><!--
        --><input id="id_y_coord" name="y_coord" type="text">
        <label for="id_landing_time">Landing time, UTC</label><!--
        -->
        <div class="form-group">
            <div class="input-group date" id="dp" style="display:inline-flex;">
                <input id="id_landing_time" name="landing_time" type="text" style="width:100%"><!--
                --><span class="input-group-addon" style="padding: 6px 18px;"><!--
                --><span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $('#dp').datetimepicker({useUtc: true});
            });
        </script>
        <label for="id_N">N</label><input id="id_N" name="N" type="checkbox">
        <label for="id_NE">NE</label><input id="id_NE" name="NE" type="checkbox">
        <label for="id_E">E</label><input id="id_E" name="E" type="checkbox">
        <label for="id_SE">SE</label><input id="id_SE" name="SE" type="checkbox">
        <label for="id_S">S</label><input id="id_S" name="S" type="checkbox">
        <label for="id_SW">SW</label><input id="id_SW" name="SW" type="checkbox">
        <label for="id_W">W</label><input id="id_W" name="W" type="checkbox">
        <label for="id_NW">NW</label><input id="id_NW" name="NW" type="checkbox">

        <button id="siege-button" button type="submit" class="btn btn-primary">Add Siege</button>
    </form>
    </div>
    {% endblock %}
    <script></script>
