<table id="assigned" class="mytable table-paginated table table-bordered siegetable">
    <thead>
        <th>Player</th>
        <th>City</th>
        <th>Troop type</th>
        <th>Count</th>
        <th>Speed</th>
        <th>Distance to Target</th>
        <th>Travel Time</th>
        <th>Offset</th>
        <th>Square</th>
        <th>Orders</th>
        <th>Launch Time, UTC</th>
        <th>Action</th>
    </thead>
    {% for r in mydict.result %}
    <tr id="{{r.armyId}}" data="{{r.siegearmyId}}">
        <td>{{r.player}}</td>
        <td>{{r.city}}</td>
        <td nowrap>{{r.troop_type}}</td>
        <td class="troop_count">{{r.troop_count}}</td>
        <td class="speed"><p>{{r.speed}}</p><!--
        --><input type='text' class='speedInput' hidden="true">
        </td>
        <td class="dist">{{r.dist}}</td>
        <td class="eta">{{r.travel_time}}</td>
        <td class="offset"><p>{{r.time_offset}}</p><!--
        --><input class="offsetInput" type="text" placeholder="hh:mm:ss/-hh:mm:ss" hidden="true"><!--
        --></td>
        <td class="square"><p>{{r.siege_square}}</p><!--
        --><select class="squareSelect" hidden="true"></select></td>
        <td class="orders"><p>{{r.orders}}</p><!--
        --><select class="ordersSelect" hidden="true"></select></td>
        <td class="timer" data-toggle="tooltip" data-placement="top">{{r.launch_time}}</td>
        <td nowrap>
            <span data="{{ mydict.siegeId }}" class="glyphicon glyphicon-ok green saveArmy" data-toggle="tooltip" data-placement="top" title="Save"></span><!--
        --><span data="{{ mydict.siegeId }}" class="glyphicon glyphicon-remove removeArmy red" data-toggle="tooltip" data-placement="top" title="Unassign army"</td>
    </tr>
    {% endfor %}
</table>
<script type="text/javascript">

</script>
