{% extends "sinserver/base.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'siege/js/towns.js' %}"></script>
<h1>{{player}}'s cities</h1>
<table class="mytable table mytable-compact">
        <thead>
            <th>Player</th>
            <th>City Name</th>
            <th>X</th>
            <th>Y</th>
            <th>Region</th>
            <th>Action</th>
        </thead>
        {% for city in cities %}
        <tr id="{{city.id}}">
            <td>{{player}}</td>
            <td class="name">{{city.name}}</td>
            <td class="x_coord">{{city.x_coord}}</td>
            <td class="y_coord">{{city.y_coord}}</td>
            <td class="region">{{city.region}}</td>
            <td><button class="edit btn btn-success">Edit</button>
            <button class="delete btn btn-danger">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="wrapper-left">
    <form id="armyForm" action="{% url 'newcity' %}" method = 'POST'>{%csrf_token%}
        <input type="hidden" name="player" value={{player_id}}>
        <label class="army-label" for="id_name">City Name</label>
        <input id="id_name" name="name" type="text">
        <label class="army-label" for="id_region">Region</label>
        <input id="id_region" name="region" type="text">
        <label class="army-label" for="id_x_coord">X coord</label>
        <input class="input-number" id="id_x_coord" name="x_coord" type="text" value="0">
        <label class="army-label" for="id_y_coord">Y coord</label>
        <input class="input-number" id="id_y_coord" name="y_coord" type="text" value="0">
    <button id="army-button" button type="submit" class="btn btn-primary">Add City</button>
    </form>
    </div>
{% endblock %}