p, label{
    font-size: 0.6em;
}
body{
    background-color: #E8DAC6;
}

#id_target_player, #id_target_city, #id_x_coord, #id_y_coord, #siege-button {
    display: block;
}
.back{
    font-size: 1em;
}
.container{
    width: 90%;
    min-height: 280px;
    margin: 0 auto;
    background-color: #E8DAC6;
}

.errorlist{
    list-style: none;
    margin: 0;
    padding: 0;
}
    .errorlist li{
        font-size: 0.5em;
        color: red;
        margin: 0;
    }    
.wrapper{
    width: 60%;
    padding: 10px;
    font-size: 2em;
}
#right{
    margin-left: 115px;
}
#map{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.big{
    font-size: 3em;
}

